<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../Public/Resource/css/pagina.css">
  <link rel="icon" href="../Fotos/apple-touch-icon.png">
  <link rel="icon" href="../Fotos/android-chrome-512x512.png">
  <link rel="icon" href="../Fotos/android-chrome-192x192.png">
  <link rel="stylesheet" href="../View/pagina.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>Reclicle knevitz</title>
</head>


<body style="background: #02240c;">

  <nav class="navbar navbar-expand-lg navbar-light">
    <!-- Brand/logo -->
<a class="navbar-brand" href="#">
  <img src="../Fotos/logo.png" alt="logo" class = " rounded-circle mx-auto d-block" style = "width: 50%">
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="collapsibleNavbar">
<ul class="navbar-nav">
  <li class="nav-item px-md-5">
    <a class="nav-link" aria-current="page" href="tela_inicial.html">
      <img class="mx-auto d-block" style="width: 40%">
      <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-display"
        viewBox="0 0 16 16">
        <path
          d="M0 4s0-2 2-2h12s2 0 2 2v6s0 2-2 2h-4c0 .667.083 1.167.25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75c.167-.333.25-.833.25-1.5H2s-2 0-2-2V4zm1.398-.855a.758.758 0 0 0-.254.302A1.46 1.46 0 0 0 1 4.01V10c0 .325.078.502.145.602.07.105.17.188.302.254a1.464 1.464 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.758.758 0 0 0 .254-.302 1.464 1.464 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.757.757 0 0 0-.302-.254A1.46 1.46 0 0 0 13.99 3H2c-.325 0-.502.078-.602.145z" />
      </svg>
      </img>
      <h3> Sobre </h3>
    </a>
  </li>
  <li class="nav-item px-md-5">

    <a class="nav-link" aria-current="page" href="Dicas.html">
      <img class = "mx-auto d-block" style = "width: 40%">
        <svg
          xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
          class="bi bi-lightbulb" viewBox="0 0 16 16">
          <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z" />
        </svg>
      </img>
      <h3  style=" font-size: 150%;"> Dicas </h3>
    </a>

  </li>
  <li class="nav-item px-md-5">

      <a class="nav-link" aria-current="page" href="Reciclar.html">
        <img class = "mx-auto d-block" style = "width: 40%"> 
          <svg
            xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
            class="bi bi-recycle" viewBox="0 0 16 16">
            <path d="M9.302 1.256a1.5 1.5 0 0 0-2.604 0l-1.704 2.98a.5.5 0 0 0 .869.497l1.703-2.981a.5.5 0 0 1 .868 0l2.54 4.444-1.256-.337a.5.5 0 1 0-.26.966l2.415.647a.5.5 0 0 0 .613-.353l.647-2.415a.5.5 0 1 0-.966-.259l-.333 1.242-2.532-4.431zM2.973 7.773l-1.255.337a.5.5 0 1 1-.26-.966l2.416-.647a.5.5 0 0 1 .612.353l.647 2.415a.5.5 0 0 1-.966.259l-.333-1.242-2.545 4.454a.5.5 0 0 0 .434.748H5a.5.5 0 0 1 0 1H1.723A1.5 1.5 0 0 1 .421 12.24l2.552-4.467zm10.89 1.463a.5.5 0 1 0-.868.496l1.716 3.004a.5.5 0 0 1-.434.748h-5.57l.647-.646a.5.5 0 1 0-.708-.707l-1.5 1.5a.498.498 0 0 0 0 .707l1.5 1.5a.5.5 0 1 0 .708-.707l-.647-.647h5.57a1.5 1.5 0 0 0 1.302-2.244l-1.716-3.004z" />
          </svg>
        </img>
      <h3  style=" font-size: 150%;">Reciclar</h3>
      </a>

  </li>
  
  <li class="nav-item px-md-5 justify-content-end">

      <a class="nav-link" aria-current="page" href="Login.html">
        <img class = "mx-auto d-block" style = "width: 40%">
          <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
              class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
          </svg>
        </img>
        <h3  style=" font-size: 150%;">Login</h3>
      </a>

  </li>    
</ul>
</div>  
</nav>
  <br>
  <div class="container-fluid d-block">
    <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" style="font-size: 150%;" class="active">
          0
        </li>
        <li data-target="#demo" data-slide-to="1" style="font-size: 150%;">
          0
        </li>
        <li data-target="#demo" data-slide-to="2" style="font-size: 150%;">
          0
        </li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../Fotos/reciclar.jpg" alt="Reciclar" style="border-radius:40px">
        </div>
        <div class="carousel-item">
          <img src="../Fotos/lixeiras.png" alt="Pneus"
            style="border-radius:40px;  background-image: linear-gradient( to right, #7FFFD4,#4682B4, #104E8B );">

        </div>
        <div class="carousel-item">
          <img src="../Fotos/taxa.jpg" alt="Horta" style="border-radius:40px">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

    <br>
  </div>
  <div class='container'>
    <div class="row">
      <div class="col">
      <p> Você sabe como separar seus resíduos?</p>
      <p> Mas antes de reciclar eles, precisa classifica-los em: orgânico, reciclável ou rejeito.</p>
      <br>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <dl>
          <dt> Recliclável:</dt>
          <dd> Papel;</dd>
          <dd> Brinquedo;</dd>
          <dd> Plástico, garrafa PET;</dd>
          <dd> Isopor;</dd>
          <dd> Ferro, metais, latas metálicas e</dd>
          <dd> Vidro.</dd>
          </dl>
       
      </div>
      <div class="col">
        <dl>
          <dt> Orgânico:</dt>
          <dd> Restos de comida;</dd>
          <dd> Podas de folhas e árvores;</dd>
          <dd> Estercos de animais;</dd>
          <dd> Borra de café;</dd>
          <dd> Erva de chimarrão;</dd>
          <dd> Restos de comida.</dd>
       </dl>
      </div>
  
      <div class="col">
        <dl>
          <dt> Rejeito:</dt>
          <dd> Papéis higiênico, fraldas;</dd>
          <dd> papéis engordurados;</dd>
          <dd> Espelho;</dd>
          <dd> Espuma;</dd>
          <dd> Embalagens metálicas e</dd>
          <dd> Cinzas de cigarro.</dd>
        </dl>
      </div>
      <p> Após já ter classificado os resíduos deve-se colocá-los na lixeira
        correspondente.<br>
        Abaixo segue quais as cores da lixeira e o que coletam:</p>
      <br>
    </div>
    <center>
      <br>
    <form action="" method="post">
      <select style="background:#02240c; color:white;  font-size: 150%;"class="form-select form-select-lg mb-3"   onchange="mostradiv(this.value)" name="sele&ccedil;&atilde;o" size="1">
        <option value="a">Escolha a cor da lixeira que você deseja visualizar:</option>
        <option value="amarelo" > Amarelo</option>
        <option value="azul"> Azul</option>
        <option value="branco"> Branco</option>
        <option value="cinza"> Cinza</option>
        <option value="laranja"> Laranja</option>
        <option value="marrom"> Marrom</option>
        <option value="preto"> Preto</option>
        <option value="roxo"> Roxo</option>
        <option value="verde"> Verde</option>
        <option value="vermelho"> Vermelho</option>
      </select>
      </form>
 
  <div class="container">
  

    <div class="row">
    <div class="col cor" id="amarelo"  style="display:none;">
      <h3> Amarelo:</h3>
      <br>
      <br>
      <img src="../Fotos/amarelo.png" style="height: 250px;">
      <dl>
        <dt>Metais:</dt>
        <dd>Latinhas de refrigerante, </dd>
        <dd>cerveja;</dd>
        <dd>Fios elétricos; Panelas;</dd>
        <dd>Arames e Chaves.</dd>
        <dt>Exceção:</dt>
        <dd>Esponjas e palhas de aço;</dd>
        <dd>Latas de produtos tóxicos </dd>
        <dd>como às de tintas, insetisidas e peticidas.</dd>
      </dl>
    </div>
    <div class="col cor" id="azul" style="display:none;">
      <h3> Azul:</h3>
      <img src="../Fotos/azul.png" class="img-fluid" style="height: 300px;">
      <dl>
        <dt>Papel:</dt>
        <dd>Papelão;</dd>
        <dd>Revistas, Jornais;</dd>
        <dd>Envelopes e Pacotes de Papel.</dd>
        <dt>Exceção:</dt>
        <dd>Fotografias; Etiquetas;</dd>
        <dd>Papel vegetal, plastificados e metalizados;</dd>
      </dl>
    </div>

    <div class="col cor" id="branco" style="display:none;">
      <h3> Branco:</h3>
      <img src="../Fotos/branco.png" class="img-fluid" style="height: 300px;">
      <dl>
        <dt>Lixos Infectados:</dt>
        <dd>Bolsa de tranfusão de sangue;</dd>
        <dd>Agulhas;</dd>
        <dd>Ataduras;</dd>
        <dd>Algodão com sangue e</dd>
        <dd>Resíduos gerados na área de internação.</dd>
      </dl>
    </div>
  </div>
  
    <div class="row">
      <div class="col cor" id="cinza" style="display:none;">
        <h3> Cinza:</h3>
        <img src="../Fotos/cinza.png" class="img-fluid" style="height: 300px;">
        <dl>
          <dt>Lixo não reciclável:</dt>
          <dd>Lata de verniz,inseticidas,
            solvente e tintas;</dd>
          <dd>Papel engordurado, metálico e plastificado;</dd>
          <dd>Fotografias; Absorventes;</dd>
          <dd>Acrílico; Cerâmica;</dd>
          <dd>Porcelana; Espelho e</dd>
          <dd>Espuma.</dd>
        </dl>
      </div>

      <div class="col cor" id="laranja" style="display:none;">
        <h3> Laranja:</h3>
        <br>
        <img src="../Fotos/laranja.png" class="img-fluid" style="height: 250px;">
        <br>
        <br>
        <dl>
          <dt>Lixo perigoso:</dt>
          <dd>Pilhas e Baterias.</dd>
        </dl>
      </div>
      <div class="col cor" id="marrom" style="display:none;">
        <h3> Marrom:</h3>
        <img src="../Fotos/marrom.png" class="img-fluid" style="height: 300px;">
        <dl>
          <dt>Lixo reciclável.</dt>
          <dd>Orgânico.</dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="col cor" id="preto" style="display:none;">
        <h3> Preto:</h3>
        <img src="../Fotos/preto.png" class="img-fluid" style="height: 300px;">
        <dl>
          <dt>Lixo reciclável:</dt>
          <dd>Madeira.</dd>
        </dl>
      </div>

      <div class="col cor" id="roxo" style="display:none;">
        <h3> Roxo:</h3>
        <br>
        <img src="../Fotos/roxo.png" class="img-fluid" style="height: 250px;">
        <br>
        <br>
        <dl>
          <dt>Lixo tóxico:</dt>
          <dd>Radioativo.</dd>
          <dd>Mantenha distância.</dd>
        </dl>
      </div>

      <div class="col cor" id="verde" style="display:none;">
        <h3> Verde:</h3>
        <img src="../Fotos/verde.png" class="img-fluid" style="height: 300px;">
        <dl>
          <dt>Vidro:</dt>
          <dd>Garrafa, Frascos e Potes.</dd>
          <dt>Exceção:</dt>
          <dd>Cristais, Espelho e Cerâmica.</dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="col cor" id="vermelho" style="display:none;">
        <h3> Vermelho:</h3>
        <img src="../Fotos/vermelho.png" class="img-fluid" style="height: 300px;">
        <dl>
          <dt>Plástico:</dt>
          <dd>Garrafa PET, Embalagens, Potes,</dd>
          <dd>Canos PVC, Sacos e Sacolas.</dd>
          <dt>Exceção:</dt>
          <dd>Adesivos, Acrílico e Placa de Raio-X.</dd>
        </dl>
      </div>
    </div>
  </div>

</center>
</div>
</body>
<script type="text/javascript">
function mostradiv(div){
  var list = document.getElementsByClassName('cor')
  for (var i = 0; i < list.length; i++) {
    list[i].style.display = 'none';
}

if(div == 'amarelo')
    document.getElementById('amarelo').style.display = 'block';
  if(div == 'vermelho')
    document.getElementById('vermelho').style.display = 'block';  
  if(div == 'roxo')
    document.getElementById('roxo').style.display = 'block';
  if(div == 'preto')
    document.getElementById('preto').style.display = 'block';
  if(div == 'verde')
    document.getElementById('verde').style.display = 'block';
  
 
  if(div == 'azul')
    document.getElementById('azul').style.display = 'block';
  if(div == 'branco')
    document.getElementById('branco').style.display = 'block';

  if(div == 'cinza')
    document.getElementById('cinza').style.display = 'block';
  if(div == 'laranja')
    document.getElementById('laranja').style.display = 'block';
  if(div == 'marrom')
    document.getElementById('marrom').style.display = 'block';
}
</script>


</html>