<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../Fotos/apple-touch-icon.png">
    <link rel="icon" href="../Fotos/android-chrome-512x512.png">
    <link rel="icon" href="../Fotos/android-chrome-192x192.png">
    <link rel="icon" href="../Public/Resource/site.webmanifest">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../View/pagina.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Recicle knevitz</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">
            <img src="../Fotos/logo.png" alt="logo" class=" rounded-circle mx-auto d-block" style="width: 50%">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item px-md-5">

                    <a class="nav-link" aria-current="page" href="DicasEmpresa.html">
                        <img class="mx-auto d-block" style="width: 40%">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
                            class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z" />
                            <path fill-rule="evenodd"
                                d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
                        </svg>
                        </img>
                        <h3> Voltar </h3>
                    </a>

                </li>
                <li class="nav-item px-md-5">

                    <a class="nav-link" aria-current="page" href="tela_inicialEmpresa.html">
                        <img class="mx-auto d-block" style="width: 40%">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
                            class="bi bi-display" viewBox="0 0 16 16">
                            <path
                                d="M0 4s0-2 2-2h12s2 0 2 2v6s0 2-2 2h-4c0 .667.083 1.167.25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75c.167-.333.25-.833.25-1.5H2s-2 0-2-2V4zm1.398-.855a.758.758 0 0 0-.254.302A1.46 1.46 0 0 0 1 4.01V10c0 .325.078.502.145.602.07.105.17.188.302.254a1.464 1.464 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.758.758 0 0 0 .254-.302 1.464 1.464 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.757.757 0 0 0-.302-.254A1.46 1.46 0 0 0 13.99 3H2c-.325 0-.502.078-.602.145z" />
                        </svg>
                        </img>
                        <h3> Início </h3>
                    </a>

                </li>
                <li class="nav-item px-md-5">

                    <a class="nav-link" aria-current="page" href="ReciclarEmpresa.html">
                        <img class="mx-auto d-block" style="width: 40%">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
                            class="bi bi-recycle" viewBox="0 0 16 16">
                            <path
                                d="M9.302 1.256a1.5 1.5 0 0 0-2.604 0l-1.704 2.98a.5.5 0 0 0 .869.497l1.703-2.981a.5.5 0 0 1 .868 0l2.54 4.444-1.256-.337a.5.5 0 1 0-.26.966l2.415.647a.5.5 0 0 0 .613-.353l.647-2.415a.5.5 0 1 0-.966-.259l-.333 1.242-2.532-4.431zM2.973 7.773l-1.255.337a.5.5 0 1 1-.26-.966l2.416-.647a.5.5 0 0 1 .612.353l.647 2.415a.5.5 0 0 1-.966.259l-.333-1.242-2.545 4.454a.5.5 0 0 0 .434.748H5a.5.5 0 0 1 0 1H1.723A1.5 1.5 0 0 1 .421 12.24l2.552-4.467zm10.89 1.463a.5.5 0 1 0-.868.496l1.716 3.004a.5.5 0 0 1-.434.748h-5.57l.647-.646a.5.5 0 1 0-.708-.707l-1.5 1.5a.498.498 0 0 0 0 .707l1.5 1.5a.5.5 0 1 0 .708-.707l-.647-.647h5.57a1.5 1.5 0 0 0 1.302-2.244l-1.716-3.004z" />
                        </svg>
                        </img>
                        <h3>Reciclar</h3>
                    </a>

                </li>

                <li class="nav-item px-md-5">

                    <a class="nav-link" aria-current="page" href="Adicionarendereco.php">
                        <img class="mx-auto d-block" style="width: 40%;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
                            class="bi bi-house-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                            <path fill-rule="evenodd"
                                d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                        </svg>
                        </img>
                        <h3 style=" font-size: 150%;">Endereço</h3>
                    </a>

                </li>
                <li class="nav-item px-md-5 justify-content-end">
                    <a class="nav-link" aria-current="page" href="empresalogada.php">
                        <img class="mx-auto d-block" style="width: 40%">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                        </img>
                        <h3 style=" font-size: 150%;">Logado</h3>
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </nav>

    <div class='container'>
        <div class="row">
            <div class="col-md-6">
                <br>
                <p>Você costuma lavar seu pátio com qual frequência e de onde vem a água que você usa?</p>
                <div class="col-md-8 mx-auto d-block">
                    <img src="../Fotos/agua.jpg" class="img-fluid" style="height:250px; border-radius: 10px;">
                </div>
                <br>
                <p> A Recicle Knevitz tem outra dica para poder coletar água da chuva e diminuir o desperdicío de água.
                </p>

                <p> Para esse processo precisará de um barril do tamanho da preferência de cada um, logo em
                    seguida
                    ache um bom lugar na sua residência para captar a água da chuva vinda a partir da calha, após isso,
                    fazer um furo na parte superior e colocar uma
                    espécie de
                    rede para não passar a sujeira para o barril e sujar a água, encaixe um cano no furo que liga a sua
                    calha
                    ao barril, e por fim instale uma torneira na parte inferior do barril e utilizar da água da chuva.
                </p>
                <div class="col-md-8 mx-auto d-block">
                    <img src="../Fotos/coletor.jpg" class="img-fluid" style="height:250px; border-radius: 10px;">
                </div>
                <br>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-5">

                <br>
                <p> Dica bônus:</p>
                <p> Para quem reside em apartamento ou não possui calhas, pode-se reutilizar água
                    que sai da sua própria máquina de lavar roupas, para isso basta de concetar o bárril na máquina de
                    lavar em vez da calha, Assim poderá fazer a limpaza da sua sacada ou pátio reutilizando a água que
                    seria desperdiçada da sua máquina.</p>
                </p>
                <br>
                <p>Para mais dica como composteira doméstica, basta acessar o link abaixo:</p>
                </p>
                <div class="container px-4">
                    <div class="row gx-5">
                        <div class="col-sm-12">
                            <div class="p-1 border " style="width:110%;height:100%"><img src="../Fotos/composteira.jpg"
                                    style="width:100%">
                                <a href="composteiraEmpresa.html"
                                    style="text-decoration: none;color:white;font-size: 100%; border-radius: 10px;">
                                    <h5 style="font-size: 100%">composteira domestica</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>